
	<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/Admin/login.css">

</head>

<body>
    <div class="login-container">
        <h1>Inicio de sesión</h1>
        <img src="/imgs/logo.png" alt="Logo" class="image-logo">
<form th:action="@{/auth/login}" method="post" th:object="${usuario}">
    <input type="email" name="username" placeholder="Correo electrónico" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar sesión</button>
</form>


       
    </div>
</body>

</html>

</body>

</html>