<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Menú de Navegación Vertical</title>
	<link rel="stylesheet" href="/css/layout/main_layout.css">

</head>


<body>

	<div class="navbar" id="navbar">

		<div class="user-section">
			<span class="user-name" th:text="${usuario}"></span>
			<div class="user-icon">
				<span th:text="${usuario.substring(0,1)}"></span>

			</div>

		</div>

		<ul>
			<li><a href="/admin/usuario">Usuarios</a></li>
			<li><a href="/admin/grupo">Grupos</a></li>
			<li>

				<a href="/auth/logout">
					<div class="logout-icon">
						<i class="fa fa-sign-out"></i>
					</div>
				</a>
			</li>

		</ul>
	</div>




</body>

</html>